AI Video Pipeline (1).json
{
  "name": "AI Video Pipeline",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.heyge.com/v2/video/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"video_inputs\": [\n{\n\"character\": {\n\"type\": \"avatar\",\n\"avatar_id\": \"{{$json.data.avatars[311].avatar_id }}\",\n\"avatar_style\": \"normal\"\n},\n\"voice\": {\n\"type\": \"audio\",\n\"audio_asset_id\": \"{{ $('get audio').item.json.data.id }}\",\n\"speed\": 1.0\n}\n}\n],\n\"dimension\": { \"width\": 1280, \"height\": 720 },\n\"background\": { \"type\": \"color\", \"value\": \"#101113\" }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        608,
        0
      ],
      "id": "1add3422-70be-47ef-a7cd-cf0df768a814",
      "name": "Create video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "TmSpDHhO8KUV6hXB",
          "name": "Heygen API"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.heygen.com/v1/video_status.get\n",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "video_id",
              "value": "={{ $json.data.video_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        800,
        0
      ],
      "id": "83f8d659-cb7c-450d-824e-60ff68cf4d6a",
      "name": "Get Video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "TmSpDHhO8KUV6hXB",
          "name": "Heygen API"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.data.video_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1280,
        -16
      ],
      "id": "079834a2-fe9a-44b8-8b7d-f5a292eebb1d",
      "name": "Download Video"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://upload.heygen.com/v1/asset",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "upload_your_file",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "3bbe5f24-ffa0-4295-8443-bd68dbcc90fd",
      "name": "get audio",
      "credentials": {
        "httpHeaderAuth": {
          "id": "TmSpDHhO8KUV6hXB",
          "name": "Heygen API"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.heygen.com/v2/avatars",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        416,
        0
      ],
      "id": "ac2533cf-3a21-4581-a166-0d4c428a9ce1",
      "name": "get avatar",
      "credentials": {
        "httpHeaderAuth": {
          "id": "TmSpDHhO8KUV6hXB",
          "name": "Heygen API"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendVideo",
        "chatId": "8062658700",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1584,
        -96
      ],
      "id": "2ba6de26-0583-46ff-a3c7-e12a910c9289",
      "name": "Post to telegram",
      "webhookId": "49b7a8d9-295e-4d24-93a2-54152dec404e",
      "credentials": {
        "telegramApi": {
          "id": "0bSQv2l7Je4meXs2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "Hi , Check this amazing Video",
        "options": {},
        "files": {
          "values": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1584,
        128
      ],
      "id": "5d9e3182-fb91-4357-affe-8a9058d8d6ca",
      "name": "Post to Discord",
      "webhookId": "53f0da20-567c-4ba0-bb68-0df9967e52ea",
      "credentials": {
        "discordWebhookApi": {
          "id": "sLjOw1oQqsXktryQ",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Input Audio",
        "formDescription": "Gets the audio file for video generation ",
        "formFields": {
          "values": [
            {
              "fieldLabel": "upload your file",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": "mp3",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        0,
        0
      ],
      "id": "da560e86-70ef-4f74-8deb-5862f8e3de57",
      "name": "On form submission",
      "webhookId": "4a03771e-8817-4eb9-9e04-f336ccdbe025"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "939eb8af-170c-41b0-ba09-893ba9f9a328",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1008,
        0
      ],
      "id": "67662c8a-784f-44c7-979c-d4f84c42f0e0",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1168,
        144
      ],
      "id": "77397674-ef36-4c93-9088-cb913cbf1dea",
      "name": "Wait",
      "webhookId": "d47f5703-700e-421f-8340-b693ecd0682e"
    }
  ],
  "pinData": {},
  "connections": {
    "Create video": {
      "main": [
        [
          {
            "node": "Get Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get audio": {
      "main": [
        [
          {
            "node": "get avatar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get avatar": {
      "main": [
        [
          {
            "node": "Create video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Post to telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post to Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to telegram": {
      "main": [
        []
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "get audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Discord": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bb687975-e827-40ab-a146-97e17222a32d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8744543fe459e93c9b381b112e62727253ab0144c2678d7009465044d25d781a"
  },
  "id": "YUeM37dFjXJ8f7zi",
  "tags": []
}
